.container {
    max-width: 120rem; //max-width permite que el contenedor cambie de tamaño si la pantalla no es capaz de mostrar 120rem
    margin: 8rem auto; //permite centrar el container en el body
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //Mantiene al sidebar ocupando el 18% del contenedor
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1; //Permite que el contenedor ocupe todo el espacio disponible
}

.details {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; //Cuando quieres darle un % los primeros números se dejan en 0.
    margin-right: 4.5rem;
}

.user-reviews {
    
    flex: 1; //Para que ocupe todo el espacio restante
    display: flex;
    flex-direction: column;
    align-items: center;
}